.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer > .line {
    width: 80vh;
    border-bottom: 1px solid var(--color-primary);
}

.footer > .names {
    margin: 7vh 0 7vh 0;
}

.footer > .names > a:not(:last-child) {
    border-right: solid 2px var(--color-primary);
}

.footer > .names > a {
    padding: 0 30px 0 30px;

    color: var(--color-primary);
    text-decoration: none;
}
