.publishBody {
    display: flex;
    flex-direction: column;
    margin: 10vh;
    align-items: stretch;
}

.publishBody > div.spacer {
    display: flex;
    flex-direction: row;
    width: auto;
    justify-content: space-evenly;
    align-items: stretch;
    flex: 1;
}

@media (max-width: 1400px) {
    .publishBody > div.spacer {
        flex-direction: column;
    }
}

.publishBody > div.spacer:not(:first-child) {
    margin-top: 15px;
}

.publishBody > div.spacer:not(:last-child) {
    margin-bottom: 15px;
}

.publishBody .input {
    font-family: inherit;
    flex: 1;
    font-size: 36px;
    height: 100px;
    border-radius: 3px;
    border: var(--color-secondary1) solid 3px;
    background: var(--color-secondary2);
    outline: none;
}

.publishBody textarea {
    height: 300px;
    resize: none;
}

.publishBody input[type="submit"] {
    width: 400px;
    appearance: none;
    -webkit-appearance: none;
    background-color: var(--color-secondary1);
    border: var(--color-primary) solid;
    margin: 0 auto 0 auto;
    max-width: 40%;
}

.publishBody input[type="submit"]:hover {
    background-color: var(--color-secondary2);
    cursor: pointer;
}

.publishBody input[type="submit"]:active {
    background-color: var(--color-background);
}

.publishBody > .spacer > .emptySpace {
    width: 40px;
    height: 10px;
}
